body {
    background-color:beige;
}
h1, p {
    text-align: center;
    display: block;
}

.croissant-photo {
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    max-width: 100%;    
}

footer {
    text-align: center;
}

footer a {
    margin: 0 10px;
    color:chocolate;
}